<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.foolcat.eve.evehelper.infrastructure.persistence.mapper.system.BlueprintFormulaMapper">
  <resultMap id="BaseResultMap" type="xyz.foolcat.eve.evehelper.infrastructure.persistence.entity.system.BlueprintFormulaPO">
    <!--@mbg.generated-->
    <!--@Table blueprint_formula-->
    <result column="blueprint_id" jdbcType="INTEGER" property="blueprintId" />
    <result column="material_type_id" jdbcType="INTEGER" property="materialTypeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="activity_id" jdbcType="TINYINT" property="activityId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    blueprint_id, material_type_id, type_name, activity_id, quantity
  </sql>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into blueprint_formula
    (blueprint_id, material_type_id, type_name, activity_id, quantity)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.blueprintId,jdbcType=INTEGER}, #{item.materialTypeId,jdbcType=INTEGER}, #{item.typeName,jdbcType=VARCHAR}, 
        #{item.activityId,jdbcType=TINYINT}, #{item.quantity,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="xyz.foolcat.eve.evehelper.infrastructure.persistence.entity.system.BlueprintFormulaPO">
    <!--@mbg.generated-->
    insert into blueprint_formula
    (blueprint_id, material_type_id, type_name, activity_id, quantity)
    values
    (#{blueprintId,jdbcType=INTEGER}, #{materialTypeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, 
      #{activityId,jdbcType=TINYINT}, #{quantity,jdbcType=INTEGER})
    on duplicate key update 
    blueprint_id = #{blueprintId,jdbcType=INTEGER}, 
    material_type_id = #{materialTypeId,jdbcType=INTEGER}, 
    type_name = #{typeName,jdbcType=VARCHAR}, 
    activity_id = #{activityId,jdbcType=TINYINT}, 
    quantity = #{quantity,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="xyz.foolcat.eve.evehelper.infrastructure.persistence.entity.system.BlueprintFormulaPO">
    <!--@mbg.generated-->
    insert into blueprint_formula
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blueprintId != null">
        blueprint_id,
      </if>
      <if test="materialTypeId != null">
        material_type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blueprintId != null">
        #{blueprintId,jdbcType=INTEGER},
      </if>
      <if test="materialTypeId != null">
        #{materialTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=TINYINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="blueprintId != null">
        blueprint_id = #{blueprintId,jdbcType=INTEGER},
      </if>
      <if test="materialTypeId != null">
        material_type_id = #{materialTypeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=TINYINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>