<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.foolcat.eve.evehelper.mapper.system.CorporationWalletJournalMapper">
  <resultMap id="BaseResultMap" type="xyz.foolcat.eve.evehelper.domain.system.CorporationWalletJournal">
    <!--@mbg.generated-->
    <!--@Table corporation_wallet_journal-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
    <result column="context_id" jdbcType="INTEGER" property="contextId" />
    <result column="context_id_type" jdbcType="INTEGER" property="contextIdType" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="first_party_id" jdbcType="INTEGER" property="firstPartyId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="ref_type" jdbcType="VARCHAR" property="refType" />
    <result column="second_party_id" jdbcType="INTEGER" property="secondPartyId" />
    <result column="tax" jdbcType="INTEGER" property="tax" />
    <result column="tax_receiver_id" jdbcType="INTEGER" property="taxReceiverId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, amount, balance, context_id, context_id_type, `date`, description, first_party_id, 
    reason, ref_type, second_party_id, tax, tax_receiver_id
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update corporation_wallet_journal
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.amount,jdbcType=DOUBLE}
        </foreach>
      </trim>
      <trim prefix="balance = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.balance,jdbcType=DOUBLE}
        </foreach>
      </trim>
      <trim prefix="context_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.contextId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="context_id_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.contextIdType,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="`date` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.date,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.description,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="first_party_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.firstPartyId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="reason = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.reason,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ref_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.refType,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="second_party_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.secondPartyId,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tax = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.tax,jdbcType=INTEGER}
        </foreach>
      </trim>
      <trim prefix="tax_receiver_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=INTEGER} then #{item.taxReceiverId,jdbcType=INTEGER}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update corporation_wallet_journal
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="amount = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.amount != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.amount,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
      <trim prefix="balance = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.balance != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.balance,jdbcType=DOUBLE}
          </if>
        </foreach>
      </trim>
      <trim prefix="context_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.contextId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.contextId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="context_id_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.contextIdType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.contextIdType,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="`date` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.date != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.date,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.description,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="first_party_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.firstPartyId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.firstPartyId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="reason = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.reason != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.reason,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ref_type = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.refType != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.refType,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="second_party_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.secondPartyId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.secondPartyId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tax = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.tax != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.tax,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
      <trim prefix="tax_receiver_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.taxReceiverId != null">
            when id = #{item.id,jdbcType=INTEGER} then #{item.taxReceiverId,jdbcType=INTEGER}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into corporation_wallet_journal
    (id, amount, balance, context_id, context_id_type, `date`, description, first_party_id, 
      reason, ref_type, second_party_id, tax, tax_receiver_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.amount,jdbcType=DOUBLE}, #{item.balance,jdbcType=DOUBLE}, 
        #{item.contextId,jdbcType=INTEGER}, #{item.contextIdType,jdbcType=INTEGER}, #{item.date,jdbcType=TIMESTAMP}, 
        #{item.description,jdbcType=VARCHAR}, #{item.firstPartyId,jdbcType=INTEGER}, #{item.reason,jdbcType=VARCHAR}, 
        #{item.refType,jdbcType=VARCHAR}, #{item.secondPartyId,jdbcType=INTEGER}, #{item.tax,jdbcType=INTEGER}, 
        #{item.taxReceiverId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="xyz.foolcat.eve.evehelper.domain.system.CorporationWalletJournal">
    <!--@mbg.generated-->
    insert into corporation_wallet_journal
    (id, amount, balance, context_id, context_id_type, `date`, description, first_party_id, 
      reason, ref_type, second_party_id, tax, tax_receiver_id)
    values
    (#{id,jdbcType=INTEGER}, #{amount,jdbcType=DOUBLE}, #{balance,jdbcType=DOUBLE}, #{contextId,jdbcType=INTEGER}, 
      #{contextIdType,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, 
      #{firstPartyId,jdbcType=INTEGER}, #{reason,jdbcType=VARCHAR}, #{refType,jdbcType=VARCHAR}, 
      #{secondPartyId,jdbcType=INTEGER}, #{tax,jdbcType=INTEGER}, #{taxReceiverId,jdbcType=INTEGER}
      )
    on duplicate key update 
    id = #{id,jdbcType=INTEGER}, 
    amount = #{amount,jdbcType=DOUBLE}, 
    balance = #{balance,jdbcType=DOUBLE}, 
    context_id = #{contextId,jdbcType=INTEGER}, 
    context_id_type = #{contextIdType,jdbcType=INTEGER}, 
    `date` = #{date,jdbcType=TIMESTAMP}, 
    description = #{description,jdbcType=VARCHAR}, 
    first_party_id = #{firstPartyId,jdbcType=INTEGER}, 
    reason = #{reason,jdbcType=VARCHAR}, 
    ref_type = #{refType,jdbcType=VARCHAR}, 
    second_party_id = #{secondPartyId,jdbcType=INTEGER}, 
    tax = #{tax,jdbcType=INTEGER}, 
    tax_receiver_id = #{taxReceiverId,jdbcType=INTEGER}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="xyz.foolcat.eve.evehelper.domain.system.CorporationWalletJournal">
    <!--@mbg.generated-->
    insert into corporation_wallet_journal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="balance != null">
        balance,
      </if>
      <if test="contextId != null">
        context_id,
      </if>
      <if test="contextIdType != null">
        context_id_type,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="firstPartyId != null">
        first_party_id,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="refType != null">
        ref_type,
      </if>
      <if test="secondPartyId != null">
        second_party_id,
      </if>
      <if test="tax != null">
        tax,
      </if>
      <if test="taxReceiverId != null">
        tax_receiver_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
      <if test="contextId != null">
        #{contextId,jdbcType=INTEGER},
      </if>
      <if test="contextIdType != null">
        #{contextIdType,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="firstPartyId != null">
        #{firstPartyId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refType != null">
        #{refType,jdbcType=VARCHAR},
      </if>
      <if test="secondPartyId != null">
        #{secondPartyId,jdbcType=INTEGER},
      </if>
      <if test="tax != null">
        #{tax,jdbcType=INTEGER},
      </if>
      <if test="taxReceiverId != null">
        #{taxReceiverId,jdbcType=INTEGER},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
      <if test="contextId != null">
        context_id = #{contextId,jdbcType=INTEGER},
      </if>
      <if test="contextIdType != null">
        context_id_type = #{contextIdType,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="firstPartyId != null">
        first_party_id = #{firstPartyId,jdbcType=INTEGER},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="refType != null">
        ref_type = #{refType,jdbcType=VARCHAR},
      </if>
      <if test="secondPartyId != null">
        second_party_id = #{secondPartyId,jdbcType=INTEGER},
      </if>
      <if test="tax != null">
        tax = #{tax,jdbcType=INTEGER},
      </if>
      <if test="taxReceiverId != null">
        tax_receiver_id = #{taxReceiverId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>