<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.foolcat.eve.evehelper.mapper.eve.IndustryActivityMaterialsMapper">
  <resultMap id="BaseResultMap" type="xyz.foolcat.eve.evehelper.domain.eve.IndustryActivityMaterials">
    <!--@mbg.generated-->
    <!--@Table industryActivityMaterials-->
    <result column="blueprintTypeID" jdbcType="INTEGER" property="blueprinttypeid" />
    <result column="activityID" jdbcType="TINYINT" property="activityid" />
    <result column="materialTypeID" jdbcType="INTEGER" property="materialtypeid" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    blueprintTypeID, activityID, materialTypeID, quantity
  </sql>
  <insert id="insert" parameterType="xyz.foolcat.eve.evehelper.domain.eve.IndustryActivityMaterials">
    <!--@mbg.generated-->
    insert into industryActivityMaterials (blueprintTypeID, activityID, materialTypeID, 
      quantity)
    values (#{blueprinttypeid,jdbcType=INTEGER}, #{activityid,jdbcType=TINYINT}, #{materialtypeid,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="xyz.foolcat.eve.evehelper.domain.eve.IndustryActivityMaterials">
    <!--@mbg.generated-->
    insert into industryActivityMaterials
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blueprinttypeid != null">
        blueprintTypeID,
      </if>
      <if test="activityid != null">
        activityID,
      </if>
      <if test="materialtypeid != null">
        materialTypeID,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blueprinttypeid != null">
        #{blueprinttypeid,jdbcType=INTEGER},
      </if>
      <if test="activityid != null">
        #{activityid,jdbcType=TINYINT},
      </if>
      <if test="materialtypeid != null">
        #{materialtypeid,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>